.main {
  background: url("../img/main-bg.jpg") top center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.header {
  padding-top: rem(15px);
  margin-bottom: rem(50px);
}
.header__logo {
  margin-bottom: rem(20px);
}
.logo img {
  max-width: 100%;
}
.header__phone-link {
  white-space: nowrap;
  font-size:  rem(20px);
  line-height: rem(25px);
  font-weight: 700;
  text-transform: uppercase;
  color: #292929;
  text-decoration: none;

  &:hover {
    color: lighten(#292929, 15%);
  }
}
.header-btn {
  font-size: rem(12px);

  @include tablets {
    margin-top: rem(20px);
  }
}

.promo {
  flex-grow: 0.8;
  justify-content: center;
  color: #292929;
}
.promo__title {
  margin-bottom: rem(40px);
  font-size: rem(40px);
  line-height: rem(58px);
  font-weight: 700;
  text-transform: uppercase;

  @include tablets {
    margin-bottom: rem(20px);
    font-size: rem(30px);
    line-height: rem(40px);
  }
}
.promo__desc {
  margin-bottom: rem(45px);
  font-size: rem(24px);
  line-height: rem(30px);

  @include tablets {
    margin-bottom: rem(25px);
  }
}
.promo__price {
  display: inline-flex;
  margin-bottom: rem(25px);
  padding: rem(25px) rem(35px);
  font-size: rem(18px);
  line-height: rem(24px);
  color: #ffffff;
  background-color: #70c849;
}
.promo__price-text {
  font-size: rem(30px);
}
.promo__text {
  font-size: rem(22px);
  line-height: rem(58px);
  font-weight: 700;
  text-transform: uppercase;
}
.promo-form {
  margin-bottom: rem(35px);
  padding: rem(45px) rem(50px);
  background-color: #ffffff;
  text-align: center;

  @include tablets {
    padding: rem(30px);
  }
}
.promo-form__title {
  margin-bottom: rem(30px);
  font-size: rem(18px);
  line-height: rem(24px);
}
.promo-form__title-text {
  font-weight: 700;
}
.promo-form__item {
  position: relative;
  margin-bottom: rem(20px);
}
.promo-form__label {
  position: absolute;
  left: 37%;
  top: -16%;
  display: block;
  font-size: rem(13px);
  line-height: rem(16px);
  color: #565656;
  background-color: #ffffff;

  &--correct {
    left: 33%;
  }
}
.promo-form__input {
  padding: rem(12px) rem(20px);
  border: 1px solid #dddddd;
  border-radius: 5px;
}
.promo-form-btn {
  margin-bottom: rem(10px);
  padding-left: rem(40px);
  padding-right: rem(40px);
  justify-content: center;
  font-size: rem(16px);
  font-weight: 700;
}
.promo__day-work {
  margin-left: rem(30px);
  font-size: rem(12px);
  color: #565656;
}