.price {
  background: url("../img/price-pattern.png") center center repeat;
}

.section-title--color_white {
  margin-bottom: rem(30px);
  color: #ffffff;
}
.price__text {
  font-size: rem(18px);
  text-align: center;
  color: #ffffff;
}
.price__block {

  @include tablets {
    text-align: center;
  }
}
.price-btn-big {
  margin-bottom: rem(40px);
  font-size: rem(18px);
  margin-top: rem(20px);

  @include phones {
    margin-right: rem(10px);
  }
}
.price__item {
  height: 100%;
  position: relative;
  margin-bottom: rem(45px);
  padding: rem(50px);
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0 14px 21px rgba(0, 0, 0, 0.17);

  @include tablets {
    padding: rem(30px);
  }
}
.price__title {
  margin-bottom: rem(30px);
  font-size: rem(19px);
  line-height: rem(20px);
  font-weight: 700;
}
.price__img {
  margin-bottom: rem(30px);

  img {
    max-width: 100%;

  }
}
.price__desc {
  margin-bottom: rem(33px);
  font-size: rem(19px);
  line-height: rem(20px);
  font-weight: 700;
}
.price__desc-text {
  font-size: rem(30px);
}
.price__btn {
  position: absolute;
  bottom: rem(25px);
  left: 25%;
  margin-top: auto;
  padding: rem(20px) rem(60px);
  font-size: rem(18px);

  &:hover {
    color: #ffffff;
  }
}

