//variables
$ProximaNovaRg:'Proxima Nova Rg', Georgia, sefif;
$LightGray: #1a1820;
$Black: #1a1820;
$ProximaNovaSemiBold: 'Proxima Nova Lt', Georgia, serif;
$DarkBlack: #000000;

@import "../../node_modules/bootstrap/scss/bootstrap";

@import "setting/mixin";
@import "setting/fonts";
@import "setting/basic";


@import "section/first";
@import "section/features";
@import "section/price";
@import "section/slider";
@import "section/included";
@import "section/dispel";
@import "section/materials";
@import "section/working";
@import "section/services";
@import "section/contacts";
@import "section/footer";
@import "section/process";

//plugin
@import "setting/jquery.bxslider";
